/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
#imagecontainer {
    background: url('../img/background.png') repeat;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -900;
    top: 0em;
}

@media all 
and (min-width : 320px) 
and (max-width : 750px) {
    header {
        width: 95%;
    }

        #headermenu {
            background: url('../img/wavegrid.png');
            z-index: 9;
            right: 0;
            top: 4.8em;
            left: 0;
            bottom: 0;
            position: fixed;
            -webkit-box-shadow: inset 0 0 10px #000000;
            -moz-box-shadow: inset 0 0 10px #000000;
            box-shadow: inset 0 0 10px #000000;
        }

        nav {
            font-size: 2.8em;
        }

        nav li {
            margin-top: 1.5em;
        }

        #socialnav {
            text-align: center;
        }

        #headermenuicon {
            visibility: visible;     
        }
    
    #maincontent {
        width: 95%;
    }
    
    #gmap {
        visibility: none;
    }
}

@media all
and (min-width : 751px) {

    header {}

        nav {
            float: right;
            margin-right: 9em;
            margin-top: -1.6em
        }

        nav li {
            float: left;
            margin-left: 3em;
            display:inline-block;
        }

        #socialnav {
            position: absolute;
            right: 1.5em;
            top: 1.5em;
        }

        #headermenuicon {
            visibility: hidden;
        }

    #gmap {
        visibility: visible;
        height: 20em;
        border: 5px solid #ddd;
        background: white;
        padding: 3px;
        margin-top:1.5em;
    }
}

header {
    height: 1.3em; 
}
    
    #headermenuicon {
        position: absolute;
        right: 0;
        top: 2.8em;
    }

    nav ul, ul.entries {
        list-style-type: none;
        text-align: center;
    }
    
    .headertext {
        letter-spacing: .2em;
        text-transform: uppercase;
    }

    #titletext {
        font-size: 1.2em;
        letter-spacing: .25em;
        text-transform: uppercase;
    }


#profile {
    background: url('../img/profile.jpg') no-repeat;
    background-size: 300px;
    margin: 0 auto 2em auto;
}

#profileshort {
    text-align: center;
    color: #5F9EA0;
    font-size: 2em;
}

.content .title {
    letter-spacing: .2em;
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 1.5em;
}

.circular {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: 0 0 8px #D3D3D3;
    -webkit-box-shadow: 0 0 8px #D3D3D3;
    -moz-box-shadow: 0 0 8px #D3D3D3; 
}

.center {
    text-align: center;
}

/* responsivegrid overrides */
#headcontainer {
    position: fixed;
    z-index: 9;
}

#maincontent {
    top: 4.8em;
    bottom: 2.4em;
    left: 0;
    right: 0;
    color: #5F9EA0;
    padding-top: 3em;
}
    #maincontent a {
        color: #5F9EA0; 
    }
    
    .box {
        -webkit-box-shadow: 1px 1px 50px #5E5E5E;
        -moz-box-shadow: 1px 1px 50px #5E5E5E;
        box-shadow: 1px 1px 50px #5E5E5E;

        -webkit-border-radius: 0.2em;
        -moz-border-radius: 0.2em;
        border-radius: 0.2em;

        margin-top: 1em;
        padding: 1em;
        background: rgba(1, 1, 1, 0.6);

        overflow: hidden;
        zoom: 1;
    }

    .date {
        border: none;
        float: right;
        padding-left:5px;
        padding-right:5px;
    }

    .last {
        margin-bottom: 0;
    }

ul.logoholder {
    display: inline-block;
    list-style-type: none;
    margin: 0 auto;
}

    .logoholder li {
        float: left;
        padding: 0.2em;
    }

.logo {
    height: 60px;
    width: 120px;
}

    .r {
        background: url('../img/Rlogo.png') no-repeat;
        background-size: contain;
        background-position: center;
    }

    .maple {
        background: url('../img/200px-Maplesoft_logo.png') no-repeat;
        background-size: contain;
        background-position: center;
    }

    .python {
        background: url('../img/Python_logo_and_wordmark.png') no-repeat;
        background-size: contain;
        background-position: center;
    }

    .excel {
        background: url('../img/Microsoft_Excel_2013_logo.png') no-repeat;
        background-size: contain;
        background-position: center;
    }

    .powerpoint {
        background: url('../img/Microsoft_PowerPoint_2013_logo.png') no-repeat;
        background-size: contain;
        background-position: center;
    }

    .word {
        background: url('../img/Microsoft_Word_2013_logo.png') no-repeat;
        background-size: contain;
        background-position: center;
    }

    .windows {
        background: url('../img/Windows_logo_and_wordmark_2012.png') no-repeat;
        background-size: contain;
        background-position: center;
    }

    .apple {
        background: url('../img/200px-Apple-logo.png') no-repeat; 
        background-size: contain;
        background-position: center;
    }

#footercontainer {
    position: fixed;
    bottom: 0;
    -webkit-box-shadow: 1px 1px 50px #5E5E5E;
    -moz-box-shadow: 1px 1px 50px #5E5E5E;
    box-shadow: 1px 1px 50px #5E5E5E;
}

/* online stuff */
hr.fancy-line { 
    border: 0; 
    height: 1px;
    position: relative;
    margin: 0.5em 0; /* Keep other elements away from pseudo elements*/
}
hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 0.5em;   /* half the height of :before */
    top: 1px;        /* height of hr*/
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
    position: absolute;
    width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
    background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,0,0.1)), color-stop(75%,rgba(0,0,0,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: radial-gradient(ellipse at center, rgba(95,158,160,0.1) 0%,rgba(0,0,0,0) 75%);
}

hr.fancy-line:after {
    /*background: #f4f4f4;*/
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
    list-style-type: none;
    margin-bottom: 2em;
}

.posts li {
    line-height: 1.75em;
}

.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
    font-size: 115%;
    text-align: justify;
    width: 42em;
    margin: 3em auto 2em;
    line-height: 1.5em;
}

.header a {
    font-weight: bold;
    text-decoration: none;
}

.title {
    display: inline-block;
    margin-bottom: 2em;
}

.title a {
    color: #a00;
}

.title a:hover {
    color: #000;
}

.header a.extra {
    color: #aaa;
    margin-left: 1em;
}

.header a.extra:hover {
    color: #000;
}

.meta {
    color: #aaa;
}

.footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
}

.footer .contact {
    float: left;
    margin-right: 3em;
}

.footer .contact a {
    color: #8085C1;
}

.footer .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
}

.footer .rss img {
    border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
}

.post ul, .post ol {
    margin-left: 1.35em;
}

.post code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
}

.post pre code {
    border: none;
}

/* terminal */
.post pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
}

.post pre.terminal code {
    background-color: #333;
}
