/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

#imagecontainer {
    background: url('../img/background.png') repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -900;
    top: 0em;
}

header {
   height: 1.3em; 
}

    nav {
        float: right;
        margin-right: 8em;
    }

    nav ul, ul.entries {
        list-style-type: none;
        text-align: center;
    }

    nav li {
        float: left;
        display:inline-block;
        margin-left: 3em;
    }

    .headertext {
        letter-spacing: .2em;
        text-transform: uppercase;
    }

    #socialnav {
        position: absolute;
        right: 1.5em;
        top: 1.5em;
    }

/* responsivegrid overrides */
#maincontent {
    position: fixed;
    top: 10em;
    bottom: 0;
    left: 0;
    right: 0;
    color: #5F9EA0;
}

#footercontainer {
    position: fixed;
    bottom: 0;
    box-shadow: 1px 1px 50px #5E5E5E;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
    list-style-type: none;
    margin-bottom: 2em;
}

.posts li {
    line-height: 1.75em;
}

.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
    font-size: 115%;
    text-align: justify;
    width: 42em;
    margin: 3em auto 2em;
    line-height: 1.5em;
}

.header a {
    font-weight: bold;
    text-decoration: none;
}

.title {
    display: inline-block;
    margin-bottom: 2em;
}

.title a {
    color: #a00;
}

.title a:hover {
    color: #000;
}

.header a.extra {
    color: #aaa;
    margin-left: 1em;
}

.header a.extra:hover {
    color: #000;
}

.meta {
    color: #aaa;
}

.footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
}

.footer .contact {
    float: left;
    margin-right: 3em;
}

.footer .contact a {
    color: #8085C1;
}

.footer .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
}

.footer .rss img {
    border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
}

.post ul, .post ol {
    margin-left: 1.35em;
}

.post code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
}

.post pre code {
    border: none;
}

/* terminal */
.post pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
}

.post pre.terminal code {
    background-color: #333;
}
